body {
    margin: 0px;
    top: 100px;
    right: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray; /* Background color for contrast */
  }


#red{
  width: 400px;
  height: 200px;
  border-radius: 50% / 100%;
  background-color: #f00;
  border-top-color: #f00;
  position: absolute;
  top: 1px;
  left: 5px;
  
 
}
#orange{
  
  border-top-color:#ffa500;
  width: 380px;
  height: 190px;
  border-radius: 50% / 100%;
  background-color: orange;
  position: absolute;
  top: 5px;
  left: 10px;
  
 
 

  
}
#yellow{
  
  border-top-color:#ff0;
  width: 360px;
  height: 180px;
  border-radius: 50% / 100%;
  background-color: yellow;
  position: absolute;
  top: 10px;
  left: 20px;
  
}
#green{
  border-top-color: #00bc3f;
  width: 340px;
  height: 170px;
  border-radius: 50% / 100%;
  background-color: green;
  position: absolute;
  top: 15px;
  left: 30px;
  
}
#blue{
  border-top-color: #06f;
  width: 320px;
  height: 160px;
  border-radius: 50% / 100%;
  background-color: blue;
  position: absolute;
  top: 20px;
  left: 40px;
  
}
#indigo{
  border-top-color: #8a2be2;
  width: 300px;
  height: 150px;
  border-radius: 50% / 100%;
  background-color: indigo;
  position: absolute;
  top: 25px;
  left: 50px;
 
  
 
}
#violet{
  border-top-color:#d300c9;
  width: 280px;
  height: 140px;
  border-radius: 50% / 100%;
  background-color: violet;
  position: absolute;
  top: 30px;
  left: 60px;
}








